@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sacramento&display=swap');
/* Fonts Locais */
@font-face {
  font-family: 'IvyMode';
  src: local("IvyMode"), url(../fonts/IvyMode-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
    font-family: 'IvyMode';
    src: local("IvyMode"), url(../fonts/IvyMode-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'IvyMode';
    src: local("IvyMode"), url(../fonts/IvyMode-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'IvyMode';
    src: local("IvyMode"), url(../fonts/IvyMode-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'IvyMode';
    src: local("IvyMode"), url(../fonts/IvyMode-SemiBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive;
*/

* {
    margin: 0;
    padding: 0;
    font-weight: 300;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

html[data-theme='dark'] {
    width: 100%;
    height: 100%;
    --top: #202024;
    --text-white: #eeeeee;
    --spotlight: #29292e;
    --background: #121214;
    --color-green: #1bbd64;
    --color-orange: #f09a39;
    --color-primary: #755fb4;
    --color-primary-hover: #9466ff;
    --logo-distaque-color: #ac7cda;
    --logo-enfoque-color: #48ecca;
    --color-primary-border: #7811f7;
}

body {
    color: white;
    background-color: var(--background);
}

/* Header style */
header {
    text-align: center;
    padding: 2rem 0 12rem;
    background-color: var(--top);
}

#logo {
    font-size: 50px;
    cursor: pointer;
    font-weight: 800;
    color: var(--text-white);
    justify-content: center;
    font-family: 'IvyMode', sans-serif;
}

#logo strong {
    font-size: 60px;
    font-weight: 900;
    color: var(--color-green);
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-weight: 700;
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--color-primary-hover);
    font-family: 'Josefin Sans', sans-serif;
}
/*
header nav {
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    position: fixed;
    text-align: center;
    align-items: center;
    padding: 2rem 0 12rem;
    align-content: space-around;
    justify-content: space-around;
    background: var(--color-green);
}

header nav ul {
    width: 55%;
    display: flex;
    list-style: none;
    color: white;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 15px;
    justify-content: space-around;
    background-color: transparent;
}

header nav ul li {
    opacity: 0.7;
    font-size: 20px;
    letter-spacing: 0.8;
    transition: all 0.3s;
    font-family: 'Josefin Sans', sans-serif;
}

header nav ul li:hover {
    opacity: 1;
    cursor: pointer;
    color: var(--color-green);
}
*/
/* Central Content */
.container {
    margin: auto;
    width: min(90vw, 800px);
    /*background: var(--top);*/
}

#balance {
    margin-top: -5.5rem;
}

#balance h2 {
    margin-top: 0;
    /*color: var(--text-white);*/
}

/* Cards */
.card {
    margin-bottom: 1.5rem;
    border-radius: .2rem;
    padding: 1.5rem 2rem;
    color: var(--text-white);
    background: var(--spotlight);
}

.card h3 {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}

.card p {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 700;
    line-height: 3rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

.card.result {
    background: var(--color-green);
}

.card.result h3 {
    font-weight: 800;
    color: var(--background);
}

/* Custom transections table */
#transactions {
    width: 100%;
}
#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
}

table td {
    font-weight: 500;
    padding: 1rem 2rem;
    background: var(--spotlight);
    font-family: 'Montserrat Alternates', sans-serif; 
}

td.description {
    color: var(--color-primary);
}

td.gain {
    font-weight: 700;
    color: var(--color-green);
}

td.spent {
    color: #ff7777;
}

table tbody tr {
    opacity: 0.8;
}

table tbody tr:hover {
    opacity: 1;
}

table th {
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    padding: 1rem 2rem;
    background: var(--top);
    color: var(--logo-distaque-color);
    font-family: 'Josefin Sans', sans-serif;
}

table thead tr th:first-child, table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table tbody tr td:first-child {
    font-weight: 600;
    color: var(--logo-distaque-color);
    font-family: 'Josefin Sans', sans-serif;
}

footer {
    width: 100%;
    display: flex;
    font-size: 12px;
    margin-top: 3.27%;
    text-align: center;
    padding: 4rem 1rem 2rem;
    align-content: center;
    background: var(--spotlight);
    justify-content: space-between;
}

footer h1 {
    width: 35%;
    opacity: 0.9;
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 800;
    color: var(--text-white);
    font-family: 'IvyMode', sans-serif;
}

footer h1 strong{
    font-size: 25px;
    font-weight: 900;
    padding-right: 5px;
    color: var(--color-green);
    font-family: 'Josefin Sans', sans-serif;
}

footer p {
    opacity: 0.5;
    font-size: 14px;
}